use nix
layout python3

# Refresh .env symlink, which itself points to a symlink that may evolve.
if [[ -d "env" ]]; then rm env; fi
ln -s .direnv/$(basename $VIRTUAL_ENV)/ env

dotenv_if_exists local.env
